.cart-img{
    background-image: url(https://storage.googleapis.com/vue-course-api.appspot.com/starlightselection/1627202160374.png?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=U5JRoYk5lAVf5HL4dkJbck49QNXqjb6JCq8Fi%2BWVbeuPoEFEKATUuJPQNvmrXfOXwvqv8TBdEGzyTb5Nmp0ZeoZ3%2FbKOMum3g1PS%2FLz3V7HQlKTkL7DFHKAEu2kqJIueTwmq9RX02O%2FoIlVq8vQt%2F2wCY1HGf3crinJaaEmSME4m18deE5%2FqNrKzrmN2B8qnRYvP%2Ff5x3CmEEO3QY6zKz6ZJZ6ypwH6IEYdAOSN184O9rYMg31z8YIH%2BW7hwoxDGOi84me0DocbrC20myddTCg%2Fhz1koBuSJ1eSDnET7tWRESDbfJhZt%2FXUFypK6WT4uPmV5uM0MiPUVjBmmIvdNlw%3D%3D);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
};

.page-notFound-img{
    background-image: url(https://storage.googleapis.com/vue-course-api.appspot.com/starlightselection/1627202188674.png?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=QHGWquNpgfpaI0HbxqD8fZiRjrcwCl%2FZU0yBMipDM41C%2FV5tHyhGX%2Bby7fm%2BAu6P%2BgaqaNL%2ByhS%2BHRu1rXB0rgRWzLifp3G2eeauCj5vRMDJYO5dkQ1ryliMlcDGYBMjyYLLMtVRKByy7rMMhfpf4g9vZUq3fcss93TuWOtNy7SYZLDxctN9%2FuKJVWOyxKzxItriTa4VL8LB0d4%2BKFZtFtheWmx1P9uvUVamdJYxuCqfZU5h1BGJvNB8jIUshmq5TWwWtA4lDtdDTNjusk7bsBjHFaKV%2BWpp3kUTuzjemlUdeGeUw93IGrMTQg8hzGjmbGs%2F132vl%2B42zdIdZDWy6w%3D%3D);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
}