@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap");

/*-----sticky-footer-----*/

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 270px;
}
.wrapper{
  padding-bottom: 30px;
}
.sticky-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 270px;
}

/*--------------------------------*/

.link-hover:hover {
  color: #2c63a7;
}

.white-space {
  white-space: pre;
}

.bg-primary-light {
  background-color: rgba(44, 99, 167, 0.05);
}

.bg-secondary-light {
  background-color: rgba(244, 204, 28, 0.05);
}
.ck-editor__editable_inline {
  min-height: 300px; //文字編輯器的最小寬度
}
.cursor {
  cursor: pointer;
}
.btn-rounded {
  border-radius: 10px;
}
.bg-cover {
  @include bg-cover;
}
.bg-contain {
  @include bg-contain;
}
.btn-slide-right {
  @include btn-slide-right;
}
.title-border {
  border-left: 2px solid #2c63a7;
  padding-left: 5px;
}
.img-cover {
  @include img-cover;
}

.cursor-not-allowed {
  cursor: not-allowed;
}
.form-input-bg {
  background-color: rgba(44, 99, 167, 0.05);
  &:focus {
    background-color: transparent;
  }
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.z-index {
  z-index: 3;
}

