.hero-banner-bg {
  background-image: url(https://storage.googleapis.com/vue-course-api.appspot.com/starlightselection/1628090059397.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=aAknFyRqc7mSrTrM%2FlMDrVLx2jIj4vK3yuQHxX85xW8Wi9mXltNGGARtpV1eTRfN4xE2ZBSksJtIdF2OwjxEWS6QYo1t3aCB8Bu%2B5DP0eh9R5mCJjLnG%2FwYyV7WWGHKK586nUDzVQhl7mQofJ3ubrC8u4y1cSlQLcdaogriFfUouo%2F43djo9KVukuLNLe9Y2p9YTWOi%2F9WtA2BrHbCG8Pjf%2FIGpdCvkKP7OA%2FmXOG%2Bw0eMBPvIQldyP37cE%2FyuJNv1K6mtrkXXB1WhCFubFxM0rlB4VAbrFOjlo9OMzwmrgWT20k5wDS6toI51seJMPkVPya9X0GFT6rmlqYiIgzGg%3D%3D);
  height: 500px;
  @include tablet {
    height: 300px;
  }
  .hero-banner-text {
    background-color: rgba(226, 226, 226, 0.4);
    max-width: 450px;
  }
}

.second-banner-bg {
  background-image: url(https://storage.googleapis.com/vue-course-api.appspot.com/starlightselection/1628090191681.png?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=JnzLnpMJdTBNFfU%2BpZhm5yuxjYzFNC9WHf3Z1%2BQFNj5k%2BKyc8BwADkt4QLHoMIiACtRRxbSbzHV9JKtu14S6q3SCmiAyiYktuEoOQOvWejqAXgC9nnpjKDznwfceQQUl6aYdeNyOUOmuVwNzVD2zSV9M0zFJgGpBdQirsz%2FDc5mcbzVut0xV2Jj%2Bh%2F4%2BWF8Efkz5odHn6M%2BLsowSjdfpFRApqx89PwWReLanjEXA8WfuGN12%2BTmKPU%2F6xhKopHV0sTWVKuIvOav1YroZpIYWXjc%2BcZz4UcBxGYKhpeLvkI0glMi6X1AXhk56rVLk3hZs15IRCumaNE%2B14Pw%2BT1Vztw%3D%3D);
  background-position: top center;
  background-size: cover;
  height: 350px;
  @include tablet {
    height: 250px;
  }
  .second-banner-text {
    max-width: 450px;
    transition: linear 0.5s;
    background-color: rgba(226, 226, 226, 0.4);
    backdrop-filter: blur(7px); // 毛玻璃效果
    &:hover {
      .btn-slide-right {
        box-shadow: inset 500px 0 0 0 #f4cc1c;
        outline: none;
      }
    }
  }
}

.backdrop-blur {
  backdrop-filter: blur(5px);
}

.selected-card {
  overflow: hidden;
  position: relative;
  &:hover {
    .selected-card-img {
      transform: scale(1.15);
    }
    .selected-card-title::after {
      width: 100%;
    }
  }
  .selected-card-height-special {
    @include card-image-zoom-in;
    height: 460px;
    @include tablet {
      height: 225px;
    }
  }
  .selected-card-img {
    @include card-image-zoom-in;
    height: 225px;
  }
  .selected-card-title {
    position: absolute;
    bottom: 0;
    right: 5px;
    &::after {
      content: "";
      display: block;
      width: 0%;
      height: 3px;
      margin: 2px 0;
      background-color: #f4cc1c;
      transition: width 0.5s;
    }
  }
  .selected-card-overlay {
    @include card-overlay;
  }
}

.feature {
  &:hover {
    .feature-icon {
      & span {
        animation: shake 0.2s linear infinite alternate;
      }
    }
  }
  .feature-icon {
    color: #f4cc1c;
    & span {
      font-size: 65px;
      vertical-align: middle;
    }
  }
}
@keyframes shake {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.notice-card {
  &:hover {
    .notice-card-image {
      transform: scale(1.15);
    }
  }
  .notice-card-image {
    height: 250px;
    width: 100%;
    @include card-image-zoom-in;
  }
}

.topic::after {
  content: "";
  display: block;
  width: 60px;
  border-bottom: 5px solid #2c63a7;
  margin-top: 10px;
}
