.hero-banner-bg {
  background-image: url(https://storage.googleapis.com/vue-course-api.appspot.com/starlightselection/1628090059397.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=aAknFyRqc7mSrTrM%2FlMDrVLx2jIj4vK3yuQHxX85xW8Wi9mXltNGGARtpV1eTRfN4xE2ZBSksJtIdF2OwjxEWS6QYo1t3aCB8Bu%2B5DP0eh9R5mCJjLnG%2FwYyV7WWGHKK586nUDzVQhl7mQofJ3ubrC8u4y1cSlQLcdaogriFfUouo%2F43djo9KVukuLNLe9Y2p9YTWOi%2F9WtA2BrHbCG8Pjf%2FIGpdCvkKP7OA%2FmXOG%2Bw0eMBPvIQldyP37cE%2FyuJNv1K6mtrkXXB1WhCFubFxM0rlB4VAbrFOjlo9OMzwmrgWT20k5wDS6toI51seJMPkVPya9X0GFT6rmlqYiIgzGg%3D%3D);
  height: 500px;
  @include tablet {
    height: 300px;
  }
  .hero-banner-text {
    background-color: rgba(226, 226, 226, 0.4);
    max-width: 450px;
  }
}

.second-banner-bg {
  background-image: url(https://storage.googleapis.com/vue-course-api.appspot.com/starlightselection/1626853808471.jpeg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=An63RqojHYGTFOL7Hphwoe3Zc1r%2FUg9lLn%2FPNXx9ddVFXaCKnXhngcwYCAA9TJyTaufGuTQGyy%2FgHeoNqb%2BSrSyWLNHnWvSyerZsSFa4yMq%2BiNo7ufIEYKaNS3e8RQgAeJpfsjnDXcQQmB32yfeUT5qcVylutUQtP3j%2FZsy98O0IawwdqsEZ%2FiGrjmIhiy9MU03uQTB%2FsHojaeAMx1YIhaL0OsYo0BEFCRENRyQ2CxKmer3lktwdhPgwlRv1gCMY1qRnh3TaXoKVKaHx1JDie8tXKYBYAZgYmuZGRagq4PWYKQp1iwPeeyyFt4uKyec%2FPV4zVfvnvPsOPwr4O23qpQ%3D%3D);
  background-attachment: fixed;
  height: 250px;
  @include tablet {
    height: 200px;
  }
}

.backdrop-blur {
  backdrop-filter: blur(5px);
}

.selected-card {
  overflow: hidden;
  position: relative;
  &:hover {
    .selected-card-img {
      transform: scale(1.15);
    }
    .selected-card-height-special{
      transform: scale(1.15);
    }
    .selected-card-title::after {
      width: 100%;
    }
  }
  .selected-card-height-special {
    @include card-image-zoom-in;
    height: 500px;
    @include tablet {
      height: 250px;
    }
  }
  .selected-card-img {
    @include card-image-zoom-in;
    height: 250px;
  }
  .selected-card-title {
    position: absolute;
    bottom: 0;
    right: 5px;
    &::after {
      content: "";
      display: block;
      width: 0%;
      height: 3px;
      margin: 2px 0;
      background-color: #f4cc1c;
      transition: width 0.5s;
    }
  }
  .selected-card-overlay {
    @include card-overlay;
  }
}



.notice-card {
  transition: all .3s ease-in-out;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
    .notice-card-image {
      transform: scale(1.15);
    }
  }
  .notice-card-image {
    height: 250px;
    width: 100%;
    @include card-image-zoom-in;
  }
}

.topic::after {
  content: "";
  display: block;
  width: 60px;
  border-bottom: 5px solid #2c63a7;
  margin-top: 10px;
}

.btn-outline-white{
  border: 1px solid #fff;
  color: #fff;
  &:hover{
    background-color: #f4cc1c;
    border: 1px solid #f4cc1c;
  }
}