@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
.font-logo{
    font-family: 'Courgette', cursive;
}

.shoppingCart-icon-position{
    position: absolute;
    top:-8px ;
    left: 10px;
}
