.favorite-img{
    background-image: url(https://2.bp.blogspot.com/-LMi8uIEGEqs/V2FUvFtDQ6I/AAAAAAAA7Z8/JhQZCsi1P8gSd4qDIioWmvoPGKaAjva2gCLcB/s800/mark_heart_plus_one.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
}