.popular-card{
  &:hover{
    .popular-card-img{
      transform: scale(1.15);
    }
  }
}
.popular-card-img{
  @include card-image-zoom-in;
  height: 225px;
  width: 100%;
  
}



.hover-up{
  transition: all 0.5s;
  &:hover {
    transform: translateY(-10px);
  }
}